<div class="game-list-item">
  <div class="image">
    @defer (on viewport) {
      <img [src]="game.imageUrl" [alt]="game.title" loading="lazy" />
    } @placeholder (minimum 300ms) {
      <div class="image-skeleton skeleton-shimmer"></div>
    }
  </div>

  <div class="details">
    <h3 class="details__title">{{ game.title }}</h3>

    <div class="details__footer">
      @if (game.discountPercent) {
        <app-discount-tag [discountPercent]="game.discountPercent"></app-discount-tag>
      }

      <app-cart-button
        [price]="game.price"
        [status]="getStatus()"
        (clicked)="addToCart()"
      ></app-cart-button>
    </div>
  </div>
</div>
