.discount-tag {
  padding: 3px 6px 5px 6px;
  background: rgba(0, 144, 94, 1);
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
}
