@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.discount-tag {
  padding: 3px 6px 5px 6px;
  background: $color-success;
  border-radius: $border-radius-sm;
  color: $color-white;
  @include text-semibold;
  font-size: $font-size-sm;
  text-align: right;

  @include respond-to(md) {
    font-size: $font-size-base;
    line-height: $spacing-xl;
    padding: 4px $spacing-md 5px $spacing-md;
  }

  @include respond-to(sm) {
    font-size: $font-size-base;
    line-height: $spacing-xl;
    padding: 4px $spacing-md 5px $spacing-md;
  }
}
