.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .featured-game {
    width: 100%;
    max-width: 1060px;
  }

  .game-list {
    width: 100%;
    max-width: 1060px;
  }
}
