@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.home-page {
  @include flex-center;
  flex-direction: column;
  padding: 0 $spacing-2xl 50px $spacing-2xl;
  box-sizing: border-box;

  .featured-game {
    width: 100%;
    max-width: $max-content-width;
    margin-bottom: 19px;
  }

  .game-list {
    width: 100%;
    max-width: $max-content-width;
  }

  @include respond-to(md) {
    padding: 0 $spacing-xl 50px $spacing-xl;

    .featured-game {
      margin-bottom: $spacing-xl;
    }
  }

  @include respond-to(sm) {
    padding: 0 $spacing-sm 50px $spacing-sm;

    .featured-game {
      margin-bottom: $spacing-lg;
    }
  }
}
