/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;
@use 'styles/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(108, 54, 173, 0.1) 0%, rgba(194, 194, 194, 0.5) 100%);
}

* {
  font-family: $font-family;
  line-height: $line-height-relaxed;
}
